.card  :hover{
    background-color: white;
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
    size: 50px;
    margin-right: -20px;
    margin-left: -20px;
    transition-duration: 0.8s;
}